<mat-drawer-container class="d-flex main flex-wrap container-fluid" id="main">
  <mat-drawer-content class="w-100">
    <div
      class="mt-1 d-flex justify-content-between flex-wrap"
      style="min-height: 37rem;"
    >
      <div
        cdkDrag
        cdkDragBoundary=".main"
        class="card bg-light shadow border-3 border-primary "
        style="width:24rem; height: 33rem; padding:10px; border-radius:40px"
      >
        <div class="card-header shadow">
          <span class="text-center text-justify ">IT HelpDesk</span>
        </div>
        <div
          class="card-body d-flex flex-column justify-content-end align-items-end text-light text-justify
     border border-primary m-0 p-0 chat-area"
          style="height: 22rem; background-color: #f6e8eb"
        >
          <div
            class="overflow-auto w-100 chat m-0"
            #scrollMe
            [scrollTop]="scrollMe.scrollHeight"
          >
            <div
              class="d-flex flex-column justify-content-end align-items-end w-100"
            >
              <div
                *ngFor="let item of queryList"
                class="d-flex speech-bubble mt-1"
              >
                <p
                  class="card-body m-0 text-justify text-center overflow-auto bg-danger"
                  *ngIf="!item.status.answered"
                  style="padding:.8rem 1.1rem; border-radius:9.1rem; min-width:70px;"
                >
                  {{ item.queryAnswer.question }}
                </p>

                <p
                  class="card-body m-0 text-justify text-center overflow-auto bg-info"
                  *ngIf="item.status.answered"
                  style="padding:.8rem 1.1rem; border-radius:9.1rem; min-width:70px; margin-right: 25%;"
                >
                  {{ item.queryAnswer.answer }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <form
          class="container-fluid form-inline d-flex my-1"
          #chatForm="ngForm"
          (ngSubmit)="onSubmit(chatForm)"
        >
          <input
            type="text"
            class="form-control"
            placeholder="any queryAnswer ?"
            style="width: 86%;"
            #text="ngModel"
            [(ngModel)]="queryAnswer.question"
            name="queryAnswer"
            required
          />
          <button
            class="btn btn-outline-secondary ml-1"
            [disabled]="!chatForm.form.valid"
            type="submit"
            id="submitbutton"
            #button
          >
            <i class="fas fa-angle-double-right"></i>
          </button>
        </form>
      </div>

      <button
        type="button"
        mat-button
        (click)="drawer.toggle()"
        class="btn  btn-toolbar"
      >
        >>
      </button>
    </div>
  </mat-drawer-content>
  <mat-drawer
    #drawer
    mode="side"
    position="end"
    class="m-0 col-sm-12 col-md-3 col-lg-2"
    style="height:100%; background-color:rgb(16, 76, 96);"
  >
    <div
      class=" d-flex flex-column  justify-content-center align-items-center h-100 w-100"
      cdkDropList
      [cdkDropListData]="botItems"
      [cdkDropListConnectedTo]="botBasket1"
      #botItems1="cdkDropList"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="d-flex flex-column justify-content-around align-items-center">
        <button
          *ngFor="let item of botItems"
          class="btn btn-outline-light"
          cdkDrag
          style="width: 100%"
        >
          <span
            ><i class="{{ item.icon }}" style="font-size: 5rem;"></i>
            <p>{{ item.name }}</p>
          </span>
        </button>
      </div>
    </div>
  </mat-drawer>
</mat-drawer-container>

<div
  class="container d-flex flex-wrap justify-content-around"
  cdkDropList
  [cdkDropListData]="botBasket"
  #botBasket1="cdkDropList"
  [cdkDropListConnectedTo]="botItems1"
  (cdkDropListDropped)="drop($event)"
  style="background-color: darkolivegreen"
>
  <button class="btn btn-outline-light" cdkDrag *ngFor="let item of botBasket">
    <span
      ><i class="{{ item.icon }}" style="font-size: 5rem;"></i>
      <p>{{ item.name }}</p>
    </span>
  </button>
</div>
