/* #submitbutton:hover {
  color: blueviolet;
  background-color: whitesmoke;
} */

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}

body {
  background-color: gainsboro;
}
