/* #submitbutton:hover {
  color: blueviolet;
  background-color: whitesmoke;
} */
#main {
  background-image: url(../../assets/federico-beccari-62960-unsplash.jpg );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}


.chat::-webkit-scrollbar {
  width: 0 !important
}


.chat {
  overflow: -moz-scrollbars-none;
}

.chat {
  -ms-overflow-style: none;
}
.chat-area{
  background-image: url(../../assets/pawel-czerwinski-1373016-unsplash.jpg);


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.speech-bubble {
  position: relative;
  max-width: 75%;
  width: fit-content;
}
