<h1 style="text-align:center">Register Here..</h1>
<form #userForm="ngForm">
  <div class="container">
<div class="form-group">
   <label for="firstName">FirstName</label>
   <input type="text" class="form-control" id="firstName" [(ngModel)]="user.firstName" name="firstName">
</div>

<div class="form-group">
      <label for="lastName">LastName</label>
      <input type="text" class="form-control" id="lastName" [(ngModel)]="user.lastName" name="lastName">
</div>

<div class="form-group">
      <label for="password">Password</label>
       <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password">
</div>

<div class="form-group">
  <label for="confirmPassword">confirmPassword</label>
   <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="user.confirmPassword" name="confirmPassword">
</div>
<div class="form-group">
  <label for="email">Email</label>
  <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email">
</div>

<div class="form-group">
      <label for="phoneNumber">PhoneNumber</label>
  <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="user.phoneNumber" name="phoneNumber">
</div>

<div class="form-group">
      <label for="role">Role</label>
      <select class="form-control" id="firstName" [(ngModel)]="user.role" name="role">
          <option value="">Select Role</option>
          <option value="ADMIN">Admin</option>
          <option value="USER">user</option>
  </select>
</div>
<div class="form-group">
  <button type="button" class="btn btn-primary" (click)="saveUser(user,userForm)">SignIn</button>
</div>
</div>
</form>

